html,
body {
    background: #EEF2FF;
    color: #000000;
}
a {
    background: inherit;
    color: #34345C;
    text-decoration: none;
}
a:visited {
    background: inherit;
    color: #34345C;
    text-decoration: none;
}
a:hover {
    color: #DD0000;
    background: inherit;
    text-decoration: underline;
}
.adminbar {
    float: right;
}
.boardname, .caption {
    color: #AF0A0F;
}
.banner {
    margin-top: 10px;
}
.theader {
    background: #0010E0;
    color: #FFFFFF;
    width: 100%;
}
.postarea {
    background: inherit;
}
.postblock {
    background: #9988EE;
    color: #000000;
}
.passvalid {
    background: #9988EE;
    color: #ffffff;
}
.managehead {
    background: #0F8FE1;
    color: #000000;
}
.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
    color: #000000;
}
.row1 {
    background: #9AD2F6;
    color: #000000;
}
.row2 {
    background: #FFFFFF;
    color: #000000;
}
.unkfunc {
    /*background: #C4C2EE;*/
    color: #FFFFFF;
}
.filetitle {
    background: inherit;
    color: #0F0C5D;
}
.postername {
    background: inherit;
    color: #117743;
}
.omittedposts {
    background: inherit;
    color: #070707;
    font-weight: bold;
}
.reply {
    background: #D6DAF0;
    color: #000000;
    border-color: #c6c6ca;
}
.doubledash {
    vertical-align: top;
    clear: both;
    float: left;
}
.thumbnailmsg {
    background: inherit;
    color: #000000;
}
/* admin posts */
.adminname {
    color: #FF0000;
}
/* rules */
.spoiler {
    background: #C4C2EE;
    color: #C4C2EE;
}
.spoiler a {
    color: #C4C2EE;
}
.spoiler:hover, .spoiler a:hover {
    background: #C4C2EE;
    color: #000000;
}
.captcha {
    color: #AF0A0F;
    /*
	  Foreground color of the letters on pictures generated by captcha.pl.
	  Don't use comments right before declaration of this class.
	*/
}
.sage {
    color:#FF0000;
    font-weight: bold;
}
/* Frame */
dl.menu dd {
    border-color: #CCCCCC;
}

dl.menu dt {
    background:#DDDDDD;
    border-color: #CCCCCC;
}
/* FAQ Pages */
.title, .info th {
    background-color: #C0C4D8;
    color: #800000;
}

.info {
    background-color: #D6DAF0;
    border-color: #C0C4D8;
}

.info td {
    border-color: #C0C4D8;
}
/* cap */
.captcha {
        color: #AF0A0F;
        /*
          Foreground color of the letters on pictures generated by captcha.pl.
          Don't use comments right before declaration of this class.
        */
}
