html,
body {
    background: #FFFFEE;
    color: #800000;
}
a {
    color: #0000EE;
}
a:hover {
    color: #DD0000;
}
.adminbar {
    text-align: right;
}
.boardname, .caption {
    color: #800000;
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.5em;
    clear: both;
}
.theader {
    background: #E04000;
    text-align: center;
    padding: 2px;
    color: #FFFFFF;
    width: 100%;
}
.postblock {
    background: #EEAA88;
    color: #800000;
}
.passvalid {
    background: #EEAA88;
    color: #ffffff;
    border-color: #EEAA88;
}
.dellist {
    font-weight: bold;
    text-align: center;
}
.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}
.managehead {
    background: #AAAA66;
    color: #400000;
    padding: 0px;
}
.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
    color: #800000;
}
.row1 {
    background: #EEEECC;
    color: #800000;
}
.row2 {
    background: #DDDDAA;
    color: #800000;
}
.unkfunc {
    background: inert;
    color: #789922;
}
.filesize {
    text-decoration: none;
}
.filetitle {
    background: inherit;
    color: #CC1105;
}
.postername {
    color: #117743;
    font-weight: bold;
}
.postertrip {
    color: #228854;
}
.adminname {
    color: #FF0000;
}
.oldpost {
    color: #CC1105;
    font-weight: 800;
}
.omittedposts {
    color: #707070;
}
.reply {
    background: #F0E0D6;
    color: #800000;
    border-color: #DDCCC5
}
.doubledash {
    vertical-align: top;
    clear: both;
    float: left;
}
.replytitle {
    font-size: 1.2em;
    color: #CC1105;
    font-weight: 800;
}
.spoiler {
    background: #F0D0B6;
    color: #F0D0B6;
}
.spoiler a {
    color: #F0D0B6;
}
.spoiler:hover, .spoiler a:hover {
    background: #F0D0B6;
    color: #800000;
}
.abbrev {
    color: #707070;
}
.highlight {
    background: #F0E0D6;
    color: #800000;
    border: 2px dashed #EEAA88;
}
.sage {
    color:#FF0000;
}
/* Frame */
dl.menu dd {
    border-color: #CCCCCC;
}

dl.menu dt {
    background:#DDDDDD;
    border-color: #CCCCCC;
}
/* FAQ Pages */
.title, .info th {
    background-color: #DDCCC5;
    color: #800000;
}

.info {
    background-color: #F0E0D6;
    border-color: #DDCCC5;
}

.info td {
    border-color: #DDCCC5;
}
/* cap */
.captcha {
        color: #AF0A0F;
        /*
          Foreground color of the letters on pictures generated by captcha.pl.
          Don't use comments right before declaration of this class.
        */
}
