html,
body {
    background:none #EDDAD2;
    color:#800000;
}
a {
    color: #34345C;
}
a:hover {
    color: #DD0000;
}
input[type='text'], input[type='password'], textarea {
  background-color: #E6CBC0;
  border: 1px solid #CA927B;
}
.adminbar a {
    font-weight: bold;
}
.boardname, .caption {
    color: #AF0A0F;
}
.theader, .passvalid, .managehead {
    background: #E6CBC0;
    color: #800000;
    border: solid 1px #CF9C88;
    border-radius: 5px;
}
.postblock {
    background: #D9AF9E;
    /*color: #CA927B;*/
    color: black;
}
.unkfunc {
    background: inherit;
    color: #789922;
}
.filesize {
    text-decoration: none;
    /*font-size: .8em;*/
}
.filename {
    color: inherit;
}
.filetitle {
    color: #0F0C5D;
}
.postername {
    color: #117743;
    font-weight: bold;
}
.postertrip {
    color: #228854;
}
.adminname {
    color: #FF0000;
}
.omittedposts {
    color: #666666;
}
.reply {
    background: #E6CBC0;
    border-color: #CF9C88;
}
blockquote {
    margin: .5em .5em .5em 2em;
}
.doubledash {
    display: none;
}
hr {
    border : none;
    border-top : 1px solid #800000;
    height : 0;
}
table {
    border-style: none;
}
table td {
    border-style: none;
}
.abbrev {
    color: #666666;
}
.highlight {
    border: 2px dashed #ad8c7e;
}
.spoiler {
    background: #D9AF9E;
    color: #D9AF9E;
}
.spoiler a {
    color: #D9AF9E;
}
.spoiler:hover,
.spoiler a:hover {
    background: #D9AF9E;
    color: #800000;
}
/* Frame */
dl.menu dd {
    border-color: #E6CBC0;
}

dl.menu dt {
    background:#D9AF9E;
    border-color: #E6CBC0;
}
/* FAQ Pages */
.title, .info th {
  background-color: #CF9C88;
  color: #800000;
}

.info {
  background-color: #E6CBC0;
  border-color: #CF9C88;
}

.info td {
  border-color: #CF9C88;
}
/*    */
#settings { background:none #eddad2 }
/* cap */
.captcha {
    color:#AF0A0F
}
