html,
body {
    background-color: #EEEEEE;
    color: #333333;
}
a {
    color: #FF6600;
}
a:hover {
    color: #0066FF;
}
.adminbar a {
    font-weight: bold;
}
.boardname, .caption {
    color: #FF6600;
}
.theader, .passvalid {
    background: #DDDDDD;
    color: #2266AA;
    border-color: #CCCCCC;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
}
.postblock {
    background: transparent;
    color: #002244;
}
.managehead {
    background: #DDDDDD;
    color: #002244;
}
.row1 {
    background: #DDDDDD;
    color: #002244;
}
.row2 {
    background: #CCCCCC;
    color: #002244;
}
.unkfunc {
    background: inherit;
    color: #789922;
}
.filesize {
    text-decoration: none;
    color: #666666;
    /*font-size: .8em;*/
}
.filename {
    color: #666666;
}
.filetitle {
    color: #002244;
}
.postername {
    color: #004A99;
    font-weight: bold;
}
.postertrip {
    color: #FF3300;
}
.adminname {
    color: #FF0000;
}
.omittedposts {
    color: #666666;
}
.reply {
    background: #DDDDDD;
    border-color: #CCCCCC;
}
blockquote {
    margin: .5em .5em .5em 2em;
}
.doubledash {
    display: none;
}
hr {
    border-color: #BBBBBB;
}
table {
    border-style: none;
}
table td {
    border-style: none;
}
.nothumb {
    background-color: #FFFFFF;
    border-style: dotted;
    margin: .3em .5em;
}
.abbrev {
    color: #666666;
}
.highlight {
    background: #EEDACB;
    color: #333333;
    border: 2px dashed #EE6600;
}
.spoiler {
    background: #CCCCCC;
    color: #CCCCCC;
}
.spoiler a {
    color: #CCCCCC;
}
.spoiler:hover,
.spoiler a:hover {
    background: #CCCCCC;
    color: #333333;
}
/* Frame */
dl.menu dd {
    border-color: #CCCCCC;
}

dl.menu dt {
    background:#DDDDDD;
    border-color: #CCCCCC;
}
/* FAQ Pages */
.title, .info th {
	background-color: #d3d3d3;
	color: #333333;
}

.info {
	background-color: #E6E6E6;
	border-color: #d3d3d3;
}

.info td {
	border-color: #CCCCCC;
}
/*		*/
#settings { border-color: #DDD; background: #eee; }
/* cap */
.captcha {
    color:#404040
}
