html,
body {
    background:none #1d1f21;
    color:#c5c8c6;
}
a {
    color: #81a2be;
}
a:hover {
    color: #5f89ac;
}
.adminbar a {
    font-weight: bold;
}
.boardname, .caption {
    color: #B294BB;
}
.theader, .passvalid {
    background: #282A2E;
    color: #c5c8c6;
    border: solid 1px #36393f;
    border-radius: 5px;
}
.postblock {
    background: #282A2E;
    color: #c5c8c6;
}
.managehead {
    background: #282A2E;
    color: #C5C8C6;
}
.row1, .row2 {
    background: #282A2E;
}
.unkfunc {
    background: inherit;
    color: #b5bd68;
}
.filesize {
    text-decoration: none;
    /*font-size: .8em;*/
}
.filename {
    color: inherit;
}
.filetitle {
    color: #B294BB;
}
.postername {
    color: #C5C8C6;
    font-weight: bold;
}
.postertrip {
    /*color: #FF3300;*/
}
.adminname {
    color: #ff9b00;
}
.omittedposts {
    color: #B294BB;
    font-weight: bold;
}
.reply {
    background: #282a2e;
    border-color: #36393f;
}
blockquote {
    margin: .5em .5em .5em 2em;
}
.doubledash {
    display: none;
}
hr {
    border : none;
    border-top : 1px solid #282a2e;
    height : 0;
}
table {
    border-style: none;
}
table td {
    border-style: none;
}
.abbrev {
    color: #666666;
}
.highlight {
    border: 2px dashed #111811;
}
.spoiler {
    background: #111;
    color: #111;
}
.spoiler a {
    color: #111;
}
.spoiler:hover,
.spoiler a:hover {
    background: #111;
    color: #C5C8C6;
}
/* Frame */
dl.menu dd {
    border-color: #36393f;
}

dl.menu dt {
    background:#282a2e;
    border-color: #36393f;
}
/* FAQ Pages */
.title, .info th {
	background-color: #282a2e;
	color: #C5C8C6;
}

.info {
	background-color: #36393f;
	border-color: #282a2e;
}

.info td {
	border-color: #282a2e;
}
/*		*/
#settings { background:none #1d1f21 }
/* cap */
.captcha {
    color:#b294bb
}
