/* New Wakaba CSS */
/* media query */
@media only screen and (max-width: 480px) {

.desktop {
	display: none;
}

.mobile {
	display: inline!important;
}

.postarea td {
	width: 95%;
	float: left;
}

.postarea textarea {
	width: 100%;
}

}

/* default styles */
html, body, ul, ol, p, pre, table, td, img {
	margin: 0;
	padding: 0;
	border: 0;
	/* linux cannot render fonts without help */
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures;
	font-kerning: normal;
}

*:focus {
	outline: 0;
}

strong, b, .boardname, .caption, .filetitle, .postblock, .postername, .sage, .dellist {
	font-weight: bold;
}

em, i, .omittedposts, .refmap, .notice, .slogan {
	font-style: italic;
}

.slogan {
	font-size: 1.2em;
}

hr {
	border: none;
	border-top: 1px solid #706B5E;
	margin: 1em 0 1em 0;
	clear: both;
}

code, pre {
	font: normal 10pt monospace;
}

ul {
	list-style-type: square;
}

td, th {
	display: table-cell;
	vertical-align: middle;
}

body {
	font: normal 0.8em sans-serif;
    padding:8px;
    margin-bottom:auto;
}

a:hover {
	text-decoration: none;
}

a:active {
	position: relative;
	top: 1px;
}

.adminbar {
    clear: both;
    float: right;
    font-size: 1em;
    margin-bottom: 5px;
}

.adminbar a {
    /*font-weight: bold;*/
}

.header {
	text-align: center;
    clear:both;
}

.banner {
	padding-top: 1em;
	clear: both;
}

.banner img {
	width: 300px;
	height: 100px;
}

.boardname, .caption {
	font-size: 2em;
	margin-top: 0.5em;
}

.theader,
.passvalid {
    text-align: center;
    padding: 2px;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
    margin-top: .5em;
}

.dellist {
    font-weight: bold;
    text-align: center;
}
.delbuttons {
    padding-bottom: 4px;
    text-align: center;
}

blockquote {
    margin: 0;
    padding: 0
}

form {
    margin-bottom:0
}

.postarea {
	text-align: center;
}

.postarea table {
	text-align: left;
	margin: 0 auto;
	border-spacing: 0.25em;
}

.postarea  #textField  img:hover {
	cursor: pointer;
}

.postblock {
	background-color: #706B5E;
	color: #FFFFFF;
	padding: 0.5em;
}

.postarea input[type='checkbox'], .postarea input[type='radio'] {
	margin: 5px;
}

.postarea input#name, .postarea input#subject {
	width: 20em;
}

input[type='text'], input[type='password'], textarea {
	background-color: #FFFFFF;
	font-family: monospace;
	border: 1px solid #CCCCCC;
	padding: 0.25em;
}

input[type='submit']:hover {
	cursor: pointer;
}

.trap, .hidden, .mobile {
	display: none;
}

div.rules ul {
	margin-top: 1em;
	margin-left: 1.6em;
}

.doubledash {
	float: left;
	margin-top: 0.5em;
    vertical-align: top;
    clear: both;
}

.doubledash a {
    text-decoration:none;
    color:inherit;
}

.post_head {
    padding: 0.4em 0.4em 0.1em 0.4em;
}

.post {
	overflow: auto;
}

.reflink a, .filename a, .filetype a, .togglethread a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover, .filename a:hover, .filetype a:hover {
	text-decoration: underline;
}

.sage {
	color: #B20000;
}

.filelink, .replylink {
	font-size: 1.2em;
}

.filetitle {
	font-size: 1.2em;
}

.reply {
    background: #DDDDDD;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.text {
	margin: 0 2em 1.2em 1.2em;
	word-wrap: break-word;
}

.post_body {
	padding: 1.2em 0 0 1.2em;
}

.postername .tripcode {
	font-weight: normal;
}

.backreflink del {
	color: #702802;
}

.file_container {
	float: left;
}

.file {
    background: transparent;
	text-align: center;
	margin: 0 1.2em 1.2em 0;
	float: left;
	display: block;
	vertical-align: top;
}

.filesize {
	font-size: 0.85em;
}

.filelink a img {
	display: block;
	margin: 0 auto;
}

.filelink a:active {
	top: 0;
}

.filetype, .filedeleted {
	font: bold 2em sans-serif;
	width: 200px;
	padding: 0.5em 0 0.5em 0;
}

.filebg {
	background-image: url("/img/erna-klein.png");
	background-position: bottom left;
	background-repeat: no-repeat;
}

.filedeleted {
	color: inherit;
}

.unkfunc {
	margin: 0;
}

.text ul li, .text ol li {
	list-style-position: inside;
}

.tldr {
	margin-top: 1em;
}

.omittedposts, .refmap {
	margin-bottom: 0.5em;
}

.refmap {
    display: block;
    margin-top: 1em;
}

div[id^=pstprev_] .omittedposts
{
	display: none
}

.userdelete {
    text-align: center;
	float: right;
}

input[type='password'] {
	width: 8em;
}

.error {
	color: #B20000;
	font-size: 1.5em;
	text-align: center;
}

.footer {
	text-align: center;
	padding: 1em 0 1em 0;
	clear: both;
}

.footer img {
	vertical-align: middle;
}

/* Frame */
dl.menu dt {
    border-style: solid;
    border-width: 1px;
    margin-top: 1em;
    padding-left: .5em;
    cursor: pointer;
}
dl.menu dd {
    margin-left: .5em;
    padding-left: .5em;
    border-left: solid 1px #CCCCCC;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}
dl.menu dd.hidden {
	display: none;
}

/* FAQ Pages */
.title, .info th {
	/*background-color: #d3d3d3;*/
	/*color: #333333;*/
}

.info {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
}

.info table {
	margin-top: 1em;
}

.info td {
	border-style: solid;
	border-width: 1px;
}

.captcha {
    color:#404040
}
/* Additional CSS */
.sright { float: right }
.u { text-decoration: underline }
.prewrap { white-space: pre }
.red { color: red }

dl.menu dt {
	border-style:solid; border-width:1px; -webkit-border-radius:5px; border-radius:5px;
	margin-bottom: 2px;
}
/* FAQ, etc */
.title, .info th { font-weight: bold; padding: 5px; }
.info { padding: 1em; margin: 0 0 0.5em 0; }
.info table { margin-top: 1em }
.info td { text-align: center; padding: 5px }
/* Refmap */
.icn_wait {
	padding:0 16px 16px 0;
	margin: 0 4px;
	background: url("/img/loading.gif") no-repeat;
}
dl.menu { margin-bottom: 3px; }
span.shortened { color: #666666; font-size: .9em; border-bottom: 1px dotted #666; cursor: pointer; }
/* Kostyli */
#settings { border-color: #DDD; background: #eee; }
#settings {
	display: inline-block; box-sizing: border-box; padding-bottom: 5px; position: relative;
	text-align: left; vertical-align: middle; width: 320px; height: auto;
	border: 1px solid rgba(0, 0, 0, .25); border-left: none; border-top: none; padding: 5px;
}
#overlay, .overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align: center; background: rgba(0, 0, 0, .5); z-index: 1; }
#overlay::after { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.settingsTitle { font-weight: bold; }

/* Dollscript */
form[de-form] span[id$="_display"],
form[de-form] span[id="trgetback"],
form[de-form] #bottom_lnks {
    display: none;
}
