<p class="footer">
- <a href="https://touhouchan.org/">touhouchan</a>
+ <a href="http://wakaba.c3.cx/">wakaba</a>
+ <a href="http://www.2chan.net/">futaba</a>
+ <a href="http://www.1chan.net/futallaby/">futallaby</a>
-</p>
