[% META
   title   = 'FAQ'
%]

	<div class="title">Разметка</div>
	<div class="info">
		<p>Доступны следующие <a href="http://ru.wikipedia.org/wiki/BBCode">BBCode</a> теги:</p>
		<table>
			<tr>
				<th>Текст</th>
				<th>Результат</th>
			</tr>
			<tr>
				<td>[i]курсив[/i]</td>
				<td><em>курсив</em></td>
			</tr>
			<tr>
				<td>[b]жирный[/b]</td>
			 	<td><strong>жирный</strong></td>
			</tr>
			<tr>
				<td>[u]подчеркнутый[/u]</td>
				<td><ins>подчеркнутый</ins></td>
			</tr>
			<tr>
				<td>[s]зачеркнутый[/s]</td>
				<td><del>зачеркнутый</del></td>
			</tr>
			<tr>
				<td>[spoiler]Спойлер[/spoiler]</td>
				<td><span class="spoiler">Спойлер</span></td>
			</tr>
			<tr>
				<td>[irony]Ирония[/irony]</td>
				<td><span class="red">Ирония</span></td>
			</tr>
			<tr>
				<td>[code]Код[/code]</td>
				<td><pre>Код</pre></td>
			</tr>
			<tr>
				<td>[sup]верхний индекс[/sup]</td>
				<td><sup>верхний индекс</sup></td>
			</tr>
			<tr>
				<td>[sub]нижний индекс[/sub]</td>
				<td><sub>нижний индекс</sub></td>
			</tr>
		</table>

		<p>Также доступна разметка WakabaMark:</p>
		<table>
			<tr>
				<th>Текст</th>
				<th>Результат</th>
			</tr>
			<tr>
				<td>*курсив* / //курсив//</td>
				<td><em>курсив</em></td>
			</tr>
			<tr>
				<td>**жирный**</td>
			 	<td><strong>жирный</strong></td>
			</tr>
			<tr>
				<td>__подчеркнутый__</td>
				<td><ins>подчеркнутый</ins></td>
			</tr>
			<tr>
				<td>^^зачеркнутый^^</td>
				<td><del>зачеркнутый</del></td>
			</tr>
			<tr>
				<td>%%Спойлер%%</td>
				<td><span class="spoiler">Спойлер</span></td>
			</tr>
			<tr>
				<td>##Ирония## / ++Ирония++</td>
				<td><span class="red">Ирония</span></td>
			</tr>
			<tr>
				<td>`Код`</td>
				<td><pre>Код</pre></td>
			</tr>
		</table>

	</div>

	<div class="title">Связь с админом</div>
	<div class="info">
		<p>Jabber: <a href="xmpp:itigr@jabb3r.net">itigr@jabb3r.net</a>
		</p>
	</div>

	<div class="title">Модифицированная Wakaba&trade;</div>
	<div class="info">
		<p>Можно взять <a href="/d/wakaba.7z">тут</a>.</p>
	</div>

	<div class="title">Jabber сервер</div>
	<div class="info">
		<p><del>Регистрация: <a href="http://touhouchan.ru:5280/register/">http://touhouchan.ru:5280/register/</a></del></p>
		<p>Мертв</p>
	</div>
	
